*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0d0f0e;
color:#fff;
overflow-x:hidden;
}

img{
max-width:100%;
display:block;
}

a{
text-decoration:none;
color:inherit;
}

nav{
position:fixed;
top:0;
left:0;
width:100%;
height:80px;
background:#111;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 8%;
z-index:1000;
}

.logo img{
height:60px;
}

.menu-btn{
display:none;
font-size:34px;
cursor:pointer;.features{
background:#111;
text-align:center;
}

.features-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:50px;
}

.feature-box{
background:#181b19;
padding:30px;
border-radius:18px;
border:1px solid #333;
transition:.3s;
}

.feature-box:hover{
transform:translateY(-6px);
border-color:#90ee90;
box-shadow:0 10px 25px rgba(144,238,144,.2);
}

.feature-box h3{
margin-bottom:15px;
font-size:24px;
}

.feature-box p{
color:#bbb;
line-height:1.7;
}

.products{
background:#0d0f0e;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
margin-top:50px;
}

.card{
background:#181b19;
border:1px solid #333;
border-radius:18px;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
border-color:#90ee90;
box-shadow:0 10px 25px rgba(144,238,144,.2);
}

.card img{
width:100%;
height:230px;
object-fit:cover;
}

.card h3{
margin:
